In [1]:
import pandas as pd
df=pd.read_excel('组队信息汇总表（Pandas）.xlsx',index_col='队伍名称')
df.head()

,所在群,队长编号,队长_群昵称,队员1 编号,队员_群昵称,队员2 编号,队员_群昵称.1,队员3 编号,队员_群昵称.2,队员4 编号,...,队员6 编号,队员_群昵称.5,队员7 编号,队员_群昵称.6,队员8 编号,队员_群昵称.7,队员9 编号,队员_群昵称.8,队员10编号,队员_群昵称.9
队伍名称,,,,,,,,,,,,,,,,,,,,,
你说的都对队,Pandas数据分析,5,山枫叶纷飞,6,蔡,7.0,安慕希,8.0,信仰,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
熊猫人,Pandas数据分析,175,鱼呲呲,44,Heaven,37.0,吕青,50.0,余柳成荫,82.0,...,25.0,Never say never,55.0,K,120.0,Y.,28.0,X.Y.Q,151.0,swrong
中国移不动,Pandas数据分析,107,Y's,124,🥕,75.0,Vito,146.0,张小五,186.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
panda,Pandas数据分析,11,太下真君,35,柚子,108.0,My,42.0,星星点灯,45.0,...,157.0,Zys,158.0,不器,102.0,嘉平佑染,NaN,NaN,NaN,NaN
一路向北,Pandas数据分析,13,黄元帅,15,化,16.0,未期,18.0,太陽光下,19.0,...,23.0,🚀,169.0,听风,189.0,Cappuccino,NaN,NaN,NaN,NaN

In [2]:
df.index

Index(['你说的都对队', '熊猫人', '中国移不动', 'panda', '一路向北', '西部战车', 'Why—贰肆', '师承潘大师队',
       '扫地僧', '翻滚吧，熊猫', 'Kung Fu Pandas', '不急不躁我最棒✌️', '没想好叫什么队', '鲲鲲玩Python',
       'pandas gogogo', 'joyful', 'pandas从入门到精通', 'Attention！keep干饭', 'Null',
       '七星联盟', '应如是'],
      dtype='object', name='队伍名称')

In [3]:
L = []
for i in range(0,11):

    if i==0:
        df_temp=df[['队长编号','队长_群昵称']]
        df_temp=df_temp.rename(columns={'队长编号':'编号','队长_群昵称':'昵称'})
        df_temp.loc[:, '是否队长']=1
    
    else:
        code_col=f'队员{i:<2}编号'
        if i==1:
            name_col='队员_群昵称'
        else:
            name_col=f'队员_群昵称.{i-1}'

        df_temp=df[[code_col,name_col]].dropna(how='any', inplace=False)
        df_temp=df_temp.rename(columns={code_col:'编号',name_col:'昵称'})
        df_temp.loc[:, '是否队长'] = 0

    L.append(df_temp)

df_new = pd.concat(L)
df_new

            编号       昵称  是否队长
队伍名称
你说的都对队     5.0   山枫叶纷飞    1.0
熊猫人      175.0      鱼呲呲   1.0
中国移不动    107.0      Y's   1.0
panda     11.0     太下真君   1.0
一路向北      13.0      黄元帅   1.0
...        ...      ...   ...
熊猫人       28.0    X.Y.Q   0.0
Why—贰肆     1.0  MoXQian   0.0
师承潘大师队   159.0       遇安   0.0
没想好叫什么队  117.0  xxxxxxl   0.0
熊猫人      151.0   swrong   0.0

[146 rows x 3 columns]