In [74]:
import pandas as pd
import numpy as np
df = pd.read_csv('../data/Pokemon.csv')

In [2]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65

In [3]:
de_sum=df[df.columns[-6:]].sum(axis=1)
de_corect=de_sum==df[df.columns[-7]]
de_corect.head()

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [36]:
df_type=df.drop_duplicates(['#'])
df_type=df_type[['Type 1','Type 2']]

In [7]:
Type1_num=df_type['Type 1'].nunique()
Type1_num

18

In [8]:
Type1_third=df_type['Type 1'].value_counts().index[:3]
Type1_third

Index(['Water', 'Normal', 'Grass'], dtype='object')

In [9]:
Type_num= (df_type.duplicated()==False).sum()
Type_num

143

In [ ]:
Type_num=df_type.drop_duplicates().shape[0]
Type_num

In [64]:
Type1=df_type['Type 1'].unique()
Type2=df_type['Type 2'].unique()
Type_list=[[i,j] for i in Type1 for j in Type2 if i != j]
Type_all = pd.DataFrame(Type_list, columns=df_type.columns)
Type_uni=df_type.drop_duplicates()
Type_loss = Type_uni.append(Type_all, ignore_index=True).drop_duplicates(keep=False)
Type_loss.shape

(181, 2)

In [60]:
df_att=df['Attack']
df_att

0       49
1       62
2       82
3      100
4       52
      ...
795    100
796    160
797    110
798    160
799    110
Name: Attack, Length: 800, dtype: int64

In [ ]:
condition_low= pd.Series(df_att<50,index=df_att.index)
condition_high= pd.Series(df_att>120,index=df_att.index)
df_att=df_att.mask(condition_low,'low')
df_att=df_att.mask(condition_high,'high')
df_att.mask((~condition_low)&(~condition_high),'middle')

In [61]:
df_type1=df['Type 1']
df_type1

0        Grass
1        Grass
2        Grass
3        Grass
4         Fire
        ...
795       Rock
796       Rock
797    Psychic
798    Psychic
799       Fire
Name: Type 1, Length: 800, dtype: object

In [62]:
df_type1.replace({i:str.upper(i) for i in df_type1.unique()})

0    GRASS
1    GRASS
2    GRASS
3    GRASS
4     FIRE
Name: Type 1, dtype: object

In [63]:
df_type1.apply(str.upper)

0        GRASS
1        GRASS
2        GRASS
3        GRASS
4         FIRE
        ...
795       ROCK
796       ROCK
797    PSYCHIC
798    PSYCHIC
799       FIRE
Name: Type 1, Length: 800, dtype: object

In [65]:
df_med=df[df.columns[-6:]].median()

In [75]:
df['med_diff']=df[df.columns[-6:]].apply(lambda x:np.max((x-x.median()).abs()), axis=1)
df.sort_values('med_diff', ascending=False).head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,med_diff
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,215.0
121,113,Chansey,Normal,NaN,450,250,5,5,35,105,50,207.5
261,242,Blissey,Normal,NaN,540,255,10,10,75,135,55,190.0
333,306,AggronMega Aggron,Steel,NaN,630,70,140,230,60,80,50,155.0
224,208,SteelixMega Steelix,Steel,Ground,610,75,125,230,55,95,30,145.0