In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('../data/chocolate.csv')
df.head()

    Company  Review\nDate Cocoa\nPercent Company\nLocation  Rating
0  A. Morin          2016            63%            France    3.75
1  A. Morin          2015            70%            France    2.75
2  A. Morin          2015            70%            France    3.00
3  A. Morin          2015            70%            France    3.50
4  A. Morin          2015            70%            France    3.50

In [2]:
df.columns=[' '.join(i.split('\n')) for i in df.columns]

In [3]:
df.head()

    Company  Review Date Cocoa Percent Company Location  Rating
0  A. Morin         2016           63%           France    3.75
1  A. Morin         2015           70%           France    2.75
2  A. Morin         2015           70%           France    3.00
3  A. Morin         2015           70%           France    3.50
4  A. Morin         2015           70%           France    3.50

In [4]:
df['Cocoa Percent'] = df['Cocoa Percent'].apply(lambda x:float(x[:-1])/100)# 先转换为小数再比较
df.query('(Rating<3)&(`Cocoa Percent`>`Cocoa Percent`.median())').head() # 有空格的变量名在其内使用``囊括

               Company  Review Date  Cocoa Percent Company Location  Rating
33  Akesson's (Pralus)         2010           0.75      Switzerland    2.75
34  Akesson's (Pralus)         2010           0.75      Switzerland    2.75
36       Alain Ducasse         2014           0.75           France    2.75
38       Alain Ducasse         2013           0.75           France    2.50
39       Alain Ducasse         2013           0.75           France    2.50

In [5]:
idx = pd.IndexSlice
exclude = ['France', 'Canada', 'Amsterdam', 'Belgium']
res = df.set_index(['Review Date', 'Company Location']).sort_index(level=0)# 先排序，避免计算量过大
res.loc[idx[2012:,~res.index.get_level_values(1).isin(exclude)],:].head()

                                  Company  Cocoa Percent  Rating
Review Date Company Location
2012        Australia         Bahen & Co.           0.70    3.00
            Australia         Bahen & Co.           0.70    2.50
            Australia         Bahen & Co.           0.70    2.50
            Australia              Cravve           0.75    3.25
            Australia              Cravve           0.65    3.25