In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'A':['a','b','c','a'],'B':['cat','cat','dog','cat']})

In [3]:
df.B = df.B.astype('category').cat.add_categories('sheep')

In [4]:
pd.crosstab(df.A, df.B)

B  cat  dog
A
a    2    0
b    1    0
c    0    1

In [5]:
def my_crosstab(s1, s2, dropna=True):
    idx1 = (s1.cat.categories if s1.dtype.name == 'category' and not dropna else s1.unique())
    idx2 = (s2.cat.categories if s2.dtype.name == 'category' and not dropna else s2.unique())
    res = pd.DataFrame(np.zeros((idx1.shape[0], idx2.shape[0])), index=idx1, columns=idx2)
    for i, j in zip(s1, s2):
        res.at[i, j] += 1
    res = res.rename_axis(index=s1.name, columns=s2.name).astype('int')
    return res

In [6]:
my_crosstab(df.A, df.B)

B  cat  dog
A
a    2    0
b    1    0
c    0    1

In [7]:
my_crosstab(df.A, df.B, dropna=False)

B  cat  dog  sheep
A
a    2    0      0
b    1    0      0
c    0    1      0