In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('../data/diamonds.csv')
df.head()

   carat      cut clarity  price
0   0.23    Ideal     SI2    326
1   0.21  Premium     SI1    326
2   0.23     Good     VS1    327
3   0.29  Premium     VS2    334
4   0.31     Good     SI2    335

In [2]:
s_obj = df.cut
s_cat = df.cut.astype('category')

In [3]:
%timeit -n 30 s_cat.nunique()

721 µs ± 203 µs per loop (mean ± std. dev. of 7 runs, 30 loops each)

In [4]:
%timeit -n 30 s_cat.nunique()

703 µs ± 91.8 µs per loop (mean ± std. dev. of 7 runs, 30 loops each)

In [5]:
df.cut=df.cut.astype('category').cat.reorder_categories(['Fair', 'Good', 'Very Good', 'Premium', 'Ideal'],ordered=True)
df.clarity=df.clarity.astype('category').cat.reorder_categories(['I1', 'SI2', 'SI1', 'VS2', 'VS1', 'VVS2', 'VVS1', 'IF'],ordered=True)
df.sort_values(['cut', 'clarity'], ascending=[False, True])

       carat    cut clarity  price
315     0.96  Ideal      I1   2801
535     0.96  Ideal      I1   2826
551     0.97  Ideal      I1   2830
653     1.01  Ideal      I1   2844
718     0.97  Ideal      I1   2856
...      ...    ...     ...    ...
41242   0.30   Fair      IF   1208
43778   0.37   Fair      IF   1440
47407   0.52   Fair      IF   1849
49683   0.52   Fair      IF   2144
50126   0.47   Fair      IF   2211

[53940 rows x 4 columns]

In [6]:
df.cut = df.cut.cat.reorder_categories(df.cut.cat.categories[::-1])
df.cut = df.cut.cat.codes
df.head()

   carat  cut clarity  price
0   0.23    0     SI2    326
1   0.21    1     SI1    326
2   0.23    3     VS1    327
3   0.29    1     VS2    334
4   0.31    3     SI2    335

In [7]:
df.clarity = df.clarity.cat.reorder_categories(df.clarity.cat.categories[::-1])
clarity_cat = df.clarity.cat.categories
df.clarity = df.clarity.replace(dict(zip(clarity_cat, range(len(clarity_cat)))))
df.head()

   carat  cut  clarity  price
0   0.23    0        6    326
1   0.21    1        5    326
2   0.23    3        3    327
3   0.29    1        4    334
4   0.31    3        6    335

In [8]:
avg = df.price / df.carat
df['avg_cut']=pd.cut(avg, [-np.infty, 1000, 3500, 5500, 18000, np.infty],labels=['Very Low', 'Low', 'Mid', 'High', 'Very High'])
df['avg_qularty']=pd.qcut(avg, [0,0.2, 0.4, 0.6, 0.8, 1],labels=['Very Low', 'Low', 'Mid', 'High', 'Very High'])
df.head()

   carat  cut  clarity  price avg_cut avg_qularty
0   0.23    0        6    326     Low    Very Low
1   0.21    1        5    326     Low    Very Low
2   0.23    3        3    327     Low    Very Low
3   0.29    1        4    334     Low    Very Low
4   0.31    3        6    335     Low    Very Low

In [9]:
loss=[i for i in df.avg_cut.cat.categories if not i in df.avg_cut.unique()]
loss

['Very Low', 'Very High']

In [10]:
df.avg_cut.cat.remove_categories(loss)

0        Low
1        Low
2        Low
3        Low
4        Low
        ...
53935    Mid
53936    Mid
53937    Mid
53938    Low
53939    Mid
Name: avg_cut, Length: 53940, dtype: category
Categories (3, object): ['Low' < 'Mid' < 'High']

In [11]:
pd.IntervalIndex(pd.qcut(avg, q=[0,0.2, 0.4, 0.6, 0.8, 1])).right.to_series().reset_index(drop=True).head()

0    2295.0
1    2295.0
2    2295.0
3    2295.0
4    2295.0
dtype: float64

In [12]:
pd.IntervalIndex(pd.qcut(avg, q=[0,0.2, 0.4, 0.6, 0.8, 1])).left.to_series().reset_index(drop=True).head()

0    1051.162
1    1051.162
2    1051.162
3    1051.162
4    1051.162
dtype: float64

In [13]:
pd.IntervalIndex(pd.qcut(avg, q=[0,0.2, 0.4, 0.6, 0.8, 1])).length.to_series().reset_index(drop=True).head()

0    1243.838
1    1243.838
2    1243.838
3    1243.838
4    1243.838
dtype: float64