In [1]:
import pandas as pd
df = pd.read_excel('../data/house_info.xls', usecols=['floor','year','area','price'])
df.head()

      floor    year    area price
0   高层（共6层）  1986年建  58.23㎡  155万
1  中层（共20层）  2020年建     88㎡  155万
2  低层（共28层）  2010年建  89.33㎡  365万
3  低层（共20层）  2014年建     82㎡  308万
4   高层（共1层）  2015年建     98㎡  117万

In [2]:
df.year = pd.to_numeric(df.year.str[:-2]).astype('Int64')
df.head()

      floor  year    area price
0   高层（共6层）  1986  58.23㎡  155万
1  中层（共20层）  2020     88㎡  155万
2  低层（共28层）  2010  89.33㎡  365万
3  低层（共20层）  2014     82㎡  308万
4   高层（共1层）  2015     98㎡  117万

In [3]:
floor=df['floor'].str.extract('(\w 层)（共(\d+) 层）').rename(columns={0:'Level', 1:'Highest'})
df = pd.concat([df.drop(columns=['floor']), floor], 1)
df.head()

   year    area price Level Highest
0  1986  58.23㎡  155万   NaN     NaN
1  2020     88㎡  155万   NaN     NaN
2  2010  89.33㎡  365万   NaN     NaN
3  2014     82㎡  308万   NaN     NaN
4  2015     98㎡  117万   NaN     NaN

In [ ]:
需在被除数后打括号，再转为 str 否则

In [5]:

df['avg_price']=(pd.to_numeric(df['area'].str[:-1])/pd.to_numeric(df['price'].str[:-1])*10000).astype('string')+' 元/平米'
df.head()

   year    area price Level Highest                avg_price
0  1986  58.23㎡  155万   NaN     NaN   3756.774193548387 元/平米
1  2020     88㎡  155万   NaN     NaN   5677.419354838709 元/平米
2  2010  89.33㎡  365万   NaN     NaN  2447.3972602739723 元/平米
3  2014     82㎡  308万   NaN     NaN   2662.337662337662 元/平米
4  2015     98㎡  117万   NaN     NaN   8376.068376068377 元/平米