In [1]:
import pandas as pd
df = pd.read_csv('../data/script.csv')
df.head()

,Release Date,Season,Episode,Episode Title,Name,Sentence
0,2011-04-17,Season 1,Episode 1,Winter is Coming,waymar royce,What do you expect? They're savages. One lot s...
1,2011-04-17,Season 1,Episode 1,Winter is Coming,will,I've never seen wildlings do a thing like this...
2,2011-04-17,Season 1,Episode 1,Winter is Coming,waymar royce,How close did you get?
3,2011-04-17,Season 1,Episode 1,Winter is Coming,will,Close as any man would.
4,2011-04-17,Season 1,Episode 1,Winter is Coming,gared,We should head back to the wall.

没注意索引末尾的空格，用了columns才看出来

In [2]:
df.groupby('Episode ')['Sentence'].count()

Episode
Episode 1     2637
Episode 10    1846
Episode 2     2957
Episode 3     2648
Episode 4     2356
Episode 5     3083
Episode 6     2380
Episode 7     2447
Episode 8     1880
Episode 9     1677
Name: Sentence, dtype: int64

In [3]:
df['words']=df['Sentence'].str.count('\s')+1
df.head()

,Release Date,Season,Episode,Episode Title,Name,Sentence,words
0,2011-04-17,Season 1,Episode 1,Winter is Coming,waymar royce,What do you expect? They're savages. One lot s...,25
1,2011-04-17,Season 1,Episode 1,Winter is Coming,will,I've never seen wildlings do a thing like this...,21
2,2011-04-17,Season 1,Episode 1,Winter is Coming,waymar royce,How close did you get?,5
3,2011-04-17,Season 1,Episode 1,Winter is Coming,will,Close as any man would.,5
4,2011-04-17,Season 1,Episode 1,Winter is Coming,gared,We should head back to the wall.,7

In [ ]:
可以使用 group.mean() 代替计数相除的操作

In [4]:
word_count=df.groupby('Name')[['Sentence','words']].agg({'Sentence':'count','words':'sum'})
word_count['avg']=word_count['words']/word_count['Sentence']
word_count.sort_values(by=['avg'],ascending=False).head()

                   Sentence  words         avg
Name
male singer               1    109  109.000000
slave owner               1     77   77.000000
manderly                  1     62   62.000000
lollys stokeworth         1     62   62.000000
dothraki matron           3    170   56.666667

In [ ]:
可以使用 group.mean() 代替计数相除的操作

In [8]:
df.groupby('Name')['words'].mean().sort_values(ascending=False).head()

Name
male singer          109.000000
slave owner           77.000000
manderly              62.000000
lollys stokeworth     62.000000
dothraki matron       56.666667
Name: words, dtype: float64

In [5]:
df['ques']=df['Sentence'].str.count('[?]')
df.head()

,Release Date,Season,Episode,Episode Title,Name,Sentence,words,ques
0,2011-04-17,Season 1,Episode 1,Winter is Coming,waymar royce,What do you expect? They're savages. One lot s...,25,1
1,2011-04-17,Season 1,Episode 1,Winter is Coming,will,I've never seen wildlings do a thing like this...,21,0
2,2011-04-17,Season 1,Episode 1,Winter is Coming,waymar royce,How close did you get?,5,1
3,2011-04-17,Season 1,Episode 1,Winter is Coming,will,Close as any man would.,5,0
4,2011-04-17,Season 1,Episode 1,Winter is Coming,gared,We should head back to the wall.,7,0

In [6]:
df['ans']=df['ques'].shift()
ans_count=df.groupby('Name')['ans'].sum()
ans_count.sort_values(ascending=False).head()

Name
tyrion lannister    527.0
jon snow            374.0
jaime lannister     283.0
arya stark          265.0
cersei lannister    246.0
Name: ans, dtype: float64