In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv('../data/car.csv')
df.head()

,Brand,Price,Country,Reliability,Mileage,Type,Weight,Disp.,HP
0,Eagle Summit 4,8895,USA,4.0,33,Small,2560,97,113
1,Ford Escort 4,7402,USA,2.0,33,Small,2345,114,90
2,Ford Festiva 4,6319,Korea,4.0,37,Small,1845,81,63
3,Honda Civic 4,6635,Japan/USA,5.0,32,Small,2260,91,92
4,Mazda Protege 4,6599,Japan,5.0,32,Small,2440,113,103

In [2]:
df.groupby('Country').filter(lambda x: x.shape[0] > 2).groupby('Country')['Price'].agg(['mean','count',('CoV',lambda x:x.std()/x.mean())])

                   mean  count       CoV
Country
Japan      13938.052632     19  0.387429
Japan/USA  10067.571429      7  0.240040
Korea       7857.333333      3  0.243435
USA        12543.269231     26  0.203344

In [3]:
#先构建等长标示列表
idx=['front']*(df.shape[0]//3)+['midddle']*(df.shape[0]//3)+['behind']*(df.shape[0]-df.shape[0]//3*2)
df.groupby(idx)['Price'].mean()

behind     15420.65
front       9069.95
midddle    13356.40
Name: Price, dtype: float64

In [4]:
df1=df.groupby('Type')[['Price','HP']].agg({'Price': ['max'], 'HP': ['min']})
df1.columns=df1.columns.map(lambda x: x[0]+'_'+x[1])
df1.head()

         Price_max  HP_min
Type
Compact      18900      95
Large        17257     150
Medium       24760     110
Small         9995      63
Sporty       13945      92

In [5]:
df.groupby('Type')['HP'].transform(lambda x:(x-x.min())/(x.max()-x.min())).head()

0    1.00
1    0.54
2    0.00
3    0.58
4    0.80
Name: HP, dtype: float64

In [6]:
df.groupby('Type')['Disp.','HP'].apply(lambda x:x['Disp.'].corr(x['HP'], method='pearson')).head() #通过 Series.corr 获得相关系数值

Type
Compact    0.586087
Large     -0.242765
Medium     0.370491
Small      0.603916
Sporty     0.871426
dtype: float64