In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv('../data/drugs.csv').sort_values(['State','COUNTY','SubstanceName'],ignore_index=True)
df.head()

   YYYY State COUNTY  SubstanceName  DrugReports
0  2011    KY  ADAIR  Buprenorphine            3
1  2012    KY  ADAIR  Buprenorphine            5
2  2013    KY  ADAIR  Buprenorphine            4
3  2014    KY  ADAIR  Buprenorphine           27
4  2015    KY  ADAIR  Buprenorphine            5

In [5]:
res = df.pivot(index=['State','COUNTY','SubstanceName'], columns='YYYY', values='DrugReports').reset_index().rename_axis(columns={'YYYY':''})
res.head()

  State COUNTY  SubstanceName  2010  2011  2012  2013  2014  2015  2016  2017
0    KY  ADAIR  Buprenorphine   NaN   3.0   5.0   4.0  27.0   5.0   7.0  10.0
1    KY  ADAIR        Codeine   NaN   NaN   1.0   NaN   NaN   NaN   NaN   1.0
2    KY  ADAIR       Fentanyl   NaN   NaN   1.0   NaN   NaN   NaN   NaN   NaN
3    KY  ADAIR         Heroin   NaN   NaN   1.0   2.0   NaN   1.0   NaN   2.0
4    KY  ADAIR    Hydrocodone   6.0   9.0  10.0  10.0   9.0   7.0  11.0   3.0

In [ ]:
res_melted = res.melt(id_vars = ['State','COUNTY','SubstanceName'],value_vars = res.columns[-8:],var_name = 'YYYY',value_name = 'DrugReports').dropna(subset=['DrugReports'])

res_melted = res_melted[df.columns].sort_values(['State','COUNTY','SubstanceName'],ignore_index=True).astype({'YYYY':'int64', 'DrugReports':'int64'})
res_melted.head()

In [7]:
df.pivot_table(index='YYYY', columns='State',values='DrugReports', aggfunc='sum')

State     KY     OH     PA     VA    WV
YYYY
2010   10453  19707  19814   8685  2890
2011   10289  20330  19987   6749  3271
2012   10722  23145  19959   7831  3376
2013   11148  26846  20409  11675  4046
2014   11081  30860  24904   9037  3280
2015    9865  37127  25651   8810  2571
2016    9093  42470  26164  10195  2548
2017    9394  46104  27894  10448  1614

In [11]:
df.groupby(['YYYY','State'])['DrugReports'].agg('sum').unstack()

State     KY     OH     PA     VA    WV
YYYY
2010   10453  19707  19814   8685  2890
2011   10289  20330  19987   6749  3271
2012   10722  23145  19959   7831  3376
2013   11148  26846  20409  11675  4046
2014   11081  30860  24904   9037  3280
2015    9865  37127  25651   8810  2571
2016    9093  42470  26164  10195  2548
2017    9394  46104  27894  10448  1614

两者使用的参数相同