In [1]:
import pandas as pd
df = pd.DataFrame({'Class':[1,2],'Name':['San Zhang', 'Si Li'],'Chinese':[80, 90],'Math':[80, 75]})
df

   Class       Name  Chinese  Math
0      1  San Zhang       80    80
1      2      Si Li       90    75

In [3]:
df = df.rename(columns={'Chinese':'Grade_Chinese', 'Math':'Grade_Math'})

pd.wide_to_long(df,stubnames=['Grade'],i = ['Class', 'Name'],j='Subject',sep='_',suffix='.+').reset_index()

   Class       Name  Subject  Grade
0      1  San Zhang  Chinese     80
1      1  San Zhang     Math     80
2      2      Si Li  Chinese     90
3      2      Si Li     Math     75